# Compiled class file
*.class

# Log file
*.log

#ignore jmeter docs and logs
apache-jmeter-5.6.3/printable_docs/
apache-jmeter-5.6.3/docs
apache-jmeter-5.6.3/*.log
apache-jmeter-5.6.3/backups

#ignore reports
reports

#ignore data files - As it might have sensitive info
#data_files/*.csv

#ignore connection properties as it might have sensitive info
connection_properties/*.properties

